__pycache__/
*.pyc
*.pyo
*.pyd

venv/
.venv/
env/

artifacts/
logs/

.ipynb_checkpoints/
.env
.DS_Store

data/raw/*
data/processed/*
models/*

!data/raw/*.dvc
!data/raw/.gitkeep
!data/processed/.gitkeep
!models/.gitkeep

/artifacts/

# Python
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
venv311/
myenv/
.venv/

# macOS
.DS_Store

# DVC cache
.dvc/cache/