.stats-grid{

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:22px;

    margin-bottom:35px;

}

.stat-card{

    background:white;

    border-radius:20px;

    padding:22px;

    display:flex;

    align-items:center;

    gap:18px;

    box-shadow:0 12px 30px rgba(15,23,42,.06);

    transition:.3s;

}

.stat-card:hover{

    transform:translateY(-5px);

}

.icon-box{

    width:65px;

    height:65px;

    border-radius:18px;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:28px;

}

.stat-card p{

    color:#64748b;

    margin-bottom:8px;

}

.stat-card h2{

    font-size:30px;

    color:#1e293b;

}

@media(max-width:1200px){

.stats-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:700px){

.stats-grid{

grid-template-columns:1fr;

}

}